# Ignore dependencies from npm and Composer:
/node_modules
/vendor

# Ignore generated CSS files and js files:
/frontend/assets/css/style.css
/frontend/assets/js/script.min.js

# Ignore the generated zip file:
*.zip

# Ignore .DS_Store files from macOS:
.DS_Store
.idea
